<producer></producer>
<consumer></consumer>
<h1>Arbiter Service Directions</h1>

<p>
  Create an application that allows one component to generate items that another
  displays
</p>
<p>The first component has a button to generate items (producer.component)</p>
<p>
  The second component displays the last item generated (consumer.component)
</p>
<p>A service facilitates communication between the two (arbiter.service)</p>

<h3>
Problem #2: Dynamic Subscribe
</h3>
 <p>
Change the arbiter service exercise to:

Consumer should subscribe on a button click
Subscribing should display the last item emitted

 </p>